#Backend production environment

ENV=prod

#RDS Postgres connection
DATABASE_URL=postgresql+psycopg://postgres:postgres@<RDS_ENDPOINT>:5432/CareerGENAI

#LLM provider
LLM_PROVIDER=gemini
GEMINI_API_KEY=AIzaSyCE19AddtWfOmvACcdIN9qLhDEzn4MXIak
GEMINI_MODEL=gemini-2.5-flash
